<li>
	{{name}}

	<button class="change-consumed" data-id="{{id}}" data-newconsumed="{{consumed}}">
		{{#if consumed}}FEEDING TIME!{{else}}EXIST AGAIN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">THROW AWAY!</button>
</li>
